<%= stylesheet_link_tag "/plugins/highlight/styles/github.css", :media => "all" %>
<%= javascript_include_tag "/plugins/highlight/highlight.pack.js" %>

<div id="markdown_preview" class="span9">
  <%== @content %>
</div>

<script type="text/javascript">
jQuery(function() {
  jQuery( 'pre code' ).each( function(idx, elem) {
    hljs.highlightBlock( elem )
  } );
});
</script>
