<div class="page-header hidden-print">
  <h1>Markdown</h1>
</div>

<div class="hidden-print">
  <small>
    Put your markdown text; then markdown to be converted!
  </small>
  <textarea name="markdown" id="markdown" class="form-control col-md-9"></textarea>

  <br />
</div>

<div id="markdown_preview">
</div>

<script type="text/javascript">
  // jquery.observe_field
  // https://github.com/splendeo/jquery.observe_field
  jQuery.fn.observeField = function(frequency, callback) {
    frequency = frequency * 1000; // translate to milliseconds
    return this.each(function(){
      var _this = jQuery(this);
      var prev = _this.val();
      var check = function() {
        var val = _this.val();
        if(prev != val){
          prev = val;
          _this.map(callback); // invokes the callback on $this
        }
      };
      var reset = function() {
        if(ti){
          clearInterval(ti);
          ti = setInterval(check, frequency);
        }
      };
      check();
      var ti = setInterval(check, frequency); // invoke check periodically
      // reset counter after user interaction
      _this.bind('keyup click mousemove', reset); //mousemove is for selects
    });
  };

  jQuery("#markdown").observeField(1, function() {
    jQuery.post(
      "<%= url_for action: :preview %>",
      {markdown: jQuery(this).val()},
      function(data) {
        jQuery("#markdown_preview").html(data.html);
      },
      "json"
    )
  });
</script>
